<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <header class=" h-screen bg-green-600 fixed top-0 left-0">
        <div class=" flex flex-col justify-between h-screen">
            <nav class=" w-full">
                <li class=" p-3 bg-green-800 text-white "><a href="#home" class="capitalize"></a>Home</li>
                <li class=" p-3 border-b-2 border-gray-700"><a href="#predict" class="capitalize"></a>Prediction</li>
                <li class=" p-3 border-b-2 border-gray-700"><a href="#analytics" class="capitalize"></a>Analysis</li>
            </nav>
            <div class="flex justify-center">
                <button class=" bg-red-700 px-4 py-2 m-4 text-white rounded">Logout</button>
            </div>
        </div>
    </header>
    <main class=" ">
        <div class=" hero--page h-screen w-full bg-blue-200 flex items-center text-white justify-center gap-3 p-2"
            id="home">
            <div class=" p-3 flex flex-col gap-5 text-black">
                <div class=" flex flex-col ">
                    <h1 class=" font-medium">EMPLOYEE HOME <span class=" text-blue-700">PREDICTION ANALYSIS</span></h1>
                    <p class=" text-2xl">PROMOTION PREDICTION</p>
                </div>
                <p class=" text-lg">Identify top performers and recommend them for promotion based on their readiness
                    and alignment in
                    the organizational goals.</p>
                <form action="/data_entry" method="get">
                    <button class=" bg-blue-700 text-white px-3 py-2 w-max rounded-md">Explore</button>
                </form>

            </div>
            <div>
                <img src="{{url_for('static', filename='Image/Employee.png')}}">
            </div>
        </div>
    </main>

</body>

</html>