<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <section class="flex flex-col items-center pt-6 min-h-screen" style="background: #fb383c ;">
    <div class=" h-screen flex items-center flex-col justify-center gap-10">
      <div class=" flex items-center gap-4">
        <img src="{{url_for('static', filename='Image/icons_1.png')}}"/>
        <input type="text" placeholder=" Username" class=" rounded-md p-2 text-lg"/>
      </div>
      <div class=" flex items-center gap-4">
        <img src="{{url_for('static', filename='Image/icon_2.png')}}"/>
        <input type="password" placeholder="password" class=" rounded-md p-2 text-lg"/>
      </div>
      <div>
        <button class=" rounded-md p-2 px-7 leading-wider bg-white">Login</button>
      </div>
    </div>
  </section>
</body>

</html>